In [9]:
#Dependencies
#============================
import pandas as pd 
import numpy as np

In [10]:
#I want to see all my columns clearly
#========================================
pd.options.display.max_columns = None

In [11]:
#Import the csv
county_df = pd.read_csv("Counties_covid.csv")
county_df

             Date      County    State     fips    Cases  Deaths
0       9/30/2021     Autauga  Alabama   1001.0   9744.0   140.0
1       9/30/2021     Baldwin  Alabama   1003.0  36447.0   509.0
2       9/30/2021     Barbour  Alabama   1005.0   3490.0    71.0
3       9/30/2021        Bibb  Alabama   1007.0   4131.0    83.0
4       9/30/2021      Blount  Alabama   1009.0   9818.0   160.0
...           ...         ...      ...      ...      ...     ...
97471  10/29/2021  Sweetwater  Wyoming  56037.0   7575.0    80.0
97472  10/29/2021       Teton  Wyoming  56039.0   5204.0    14.0
97473  10/29/2021       Uinta  Wyoming  56041.0   3829.0    26.0
97474  10/29/2021    Washakie  Wyoming  56043.0   1730.0    35.0
97475  10/29/2021      Weston  Wyoming  56045.0   1109.0     9.0

[97476 rows x 6 columns]

In [12]:
#break it down by state first
#=================================================================
AL_df = county_df[county_df['State']== 'Alabama']
AK_df = county_df[county_df['State']== 'Alaska']
AZ_df = county_df[county_df['State']== 'Arizona']
CA_df = county_df[county_df['State']== 'California']
CO_df = county_df[county_df['State']== 'Colorado']
CT_df = county_df[county_df['State']== 'Connecticut']
DE_df = county_df[county_df['State']== 'Delaware']
DC_df = county_df[county_df['State']== 'District of Columbia']
FL_df = county_df[county_df['State']== 'Florida']
GA_df = county_df[county_df['State']== 'Georgia']
HI_df = county_df[county_df['State']== 'Hawaii']
ID_df = county_df[county_df['State']== 'Idaho']
IL_df = county_df[county_df['State']== 'Illinois']
IN_df = county_df[county_df['State']== 'Indiana']
IA_df = county_df[county_df['State']== 'Iowa']
KS_df = county_df[county_df['State']== 'Kansas']
KY_df = county_df[county_df['State']== 'Kentucky']
LA_df = county_df[county_df['State']== 'Louisiana']
ME_df = county_df[county_df['State']== 'Maine']
MD_df = county_df[county_df['State']== 'Maryland']
MA_df = county_df[county_df['State']== 'Massachusetts']
MI_df = county_df[county_df['State']== 'Michigan']
MN_df = county_df[county_df['State']== 'Minnesota']
MS_df = county_df[county_df['State']== 'Mississippi']
MO_df = county_df[county_df['State']== 'Missouri']
MT_df = county_df[county_df['State']== 'Montana']
NE_df = county_df[county_df['State']== 'Nebraska']
NV_df = county_df[county_df['State']== 'Nevada']
NH_df = county_df[county_df['State']== 'New Hampshire']
NJ_df = county_df[county_df['State']== 'New Jersey']
NM_df = county_df[county_df['State']== 'New Mexico']
NY_df = county_df[county_df['State']== 'New York']
NC_df = county_df[county_df['State']== 'North Carolina']
ND_df = county_df[county_df['State']== 'North Dakota']
OH_df = county_df[county_df['State']== 'Ohio']
OK_df = county_df[county_df['State']== 'Oklahoma']
OR_df = county_df[county_df['State']== 'Oregon']
PA_df = county_df[county_df['State']== 'Pennsylvania']
RI_df = county_df[county_df['State']== 'Rhode Island']
SC_df = county_df[county_df['State']== 'South Carolina']
SD_df = county_df[county_df['State']== 'South Dakota']
TN_df = county_df[county_df['State']== 'Tennessee']
TX_df = county_df[county_df['State']== 'Texas']
UT_df = county_df[county_df['State']== 'Utah']
VT_df = county_df[county_df['State']== 'Vermont']
VA_df = county_df[county_df['State']== 'Virginia']
WV_df = county_df[county_df['State']== 'West Virginia']
WI_df = county_df[county_df['State']== 'Wisconsin']
WY_df = county_df[county_df['State']== 'Wyoming']
AR_df = county_df[county_df['State']== 'Arkansas']
WA_df = county_df[county_df['State']== 'Washington']

In [13]:
WA_df

             Date       County       State     fips    Cases  Deaths
3060    9/30/2021        Adams  Washington  53001.0   3023.0    27.0
3061    9/30/2021       Asotin  Washington  53003.0   2518.0    46.0
3062    9/30/2021       Benton  Washington  53005.0  29192.0   332.0
3063    9/30/2021       Chelan  Washington  53007.0  10274.0    97.0
3064    9/30/2021      Clallam  Washington  53009.0   4122.0    46.0
...           ...          ...         ...      ...      ...     ...
97321  10/29/2021    Wahkiakum  Washington  53069.0    280.0     5.0
97322  10/29/2021  Walla Walla  Washington  53071.0   8978.0   103.0
97323  10/29/2021      Whatcom  Washington  53073.0  16472.0   161.0
97324  10/29/2021      Whitman  Washington  53075.0   5886.0    79.0
97325  10/29/2021       Yakima  Washington  53077.0  45068.0   590.0

[1170 rows x 6 columns]

In [19]:
#Pulling the final caseload number for county
#===============================================================
hawaii_county = HI_df[HI_df['County']=='Hawaii'] 
hawaii_county_caseload = (hawaii_county['Cases'].iloc[-1])
print(hawaii_county_caseload)

11032.0

In [33]:
sloc = CA_df[CA_df['County']== 'San Luis Obispo']
sloc_caseload = (sloc['Cases'].iloc[-1])
print(sloc_caseload)

30291.0

In [34]:
wash_county = UT_df[UT_df['County']== 'Washington']
wash_cc = (wash_county['Cases'].iloc[-1])
print(wash_cc)

28923.0

In [35]:
jack_county = OR_df[OR_df['County']== 'Jackson']
jack_cc = (jack_county['Cases'].iloc[-1])
print(jack_cc)

23433.0

In [36]:
yav_county = AZ_df[AZ_df['County']== 'Yavapai']
yav_cc = (yav_county['Cases'].iloc[-1])
print(yav_cc)

28355.0

In [37]:
mid_county = MA_df[MA_df['County']== 'Middlesex']
mid_cc = (mid_county['Cases'].iloc[-1])
print(mid_cc)

159612.0

In [38]:
hen_county = MN_df[MN_df['County']== 'Hennepin']
hen_cc = (hen_county['Cases'].iloc[-1])
print(hen_cc)

156327.0

In [40]:
SB_county = CA_df[CA_df['County']== 'Santa Barbara']
sb_cc = (SB_county['Cases'].iloc[-1])
print(sb_cc)

45650.0

In [41]:
han_county = ME_df[ME_df['County']== 'Hancock']
han_cc = (han_county['Cases'].iloc[-1])
print(han_cc)

2851.0

In [43]:
mon_county = FL_df[FL_df['County']== 'Monroe']
mon_cc = (mon_county['Cases'].iloc[-1])
print(mon_cc)

10520.0

In [44]:
lee_county = FL_df[FL_df['County']== 'Lee']
lee_cc = (lee_county['Cases'].iloc[-1])
print(lee_cc)

124961.0

In [46]:
all_county = PA_df[PA_df['County']== 'Allegheny']
all_cc = (all_county['Cases'].iloc[-1])
print(all_cc)

131892.0

In [47]:
wdc_county = DC_df[DC_df['County']== 'District of Columbia']
wdc_cc = (wdc_county['Cases'].iloc[-1])
print(wdc_cc)

64240.0

In [48]:
csc_county = SC_df[SC_df['County']== 'Charleston']
csc_cc = (csc_county['Cases'].iloc[-1])
print(csc_cc)

65233.0

In [49]:
ril_county = IL_df[IL_df['County']== 'Cook']
ril_cc = (ril_county['Cases'].iloc[-1])
print(ril_cc)

641268.0

In [50]:
dco_county = CO_df[CO_df['County']== 'La Plata']
dco_cc = (dco_county['Cases'].iloc[-1])
print(dco_cc)

5922.0

In [51]:
khi_county = HI_df[HI_df['County']=='Maui'] 
maui_county_caseload = (khi_county['Cases'].iloc[-1])
print(maui_county_caseload)

9898.0

In [52]:
lhi_county = HI_df[HI_df['County']=='Kauai'] 
kauai_county_caseload = (lhi_county['Cases'].iloc[-1])
print(kauai_county_caseload)

2614.0

In [53]:
anc_county = NC_df[NC_df['County']== 'Buncombe']
anc_cc = (anc_county['Cases'].iloc[-1])
print(anc_cc)

28191.0

In [54]:
mut_county = UT_df[UT_df['County']== 'Grand']
mut_cc = (mut_county['Cases'].iloc[-1])
print(mut_cc)

1427.0

In [56]:
swa_county = WA_df[WA_df['County']== 'King']
swa_cc = (swa_county['Cases'].iloc[-1])
print(swa_cc)

164221.0

In [57]:
maz_county = AZ_df[AZ_df['County']== 'Maricopa']
maz_cc = (maz_county['Cases'].iloc[-1])
print(maz_cc)

737103.0

In [58]:
bma_county = MA_df[MA_df['County']== 'Suffolk']
bma_cc = (bma_county['Cases'].iloc[-1])
print(bma_cc)

107738.0

In [59]:
coh_county = OH_df[OH_df['County']== 'Cuyahoga']
coh_cc = (coh_county['Cases'].iloc[-1])
print(coh_cc)

148161.0

In [61]:
nola_county = LA_df[LA_df['County']== 'Orleans']
nola_cc = (nola_county['Cases'].iloc[-1])
print(nola_cc)

46796.0

In [62]:
pfl_county = FL_df[FL_df['County']== 'Pinellas']
pfl_cc = (pfl_county['Cases'].iloc[-1])
print(pfl_cc)

134378.0

In [63]:
put_county = UT_df[UT_df['County']== 'Summit']
put_cc = (put_county['Cases'].iloc[-1])
print(put_cc)

6808.0

In [64]:
fnd_county = ND_df[ND_df['County']== 'Cass']
fnd_cc = (fnd_county['Cases'].iloc[-1])
print(fnd_cc)

32212.0

In [65]:
hnv_county = NV_df[NV_df['County']== 'Clark']
hnv_cc = (hnv_county['Cases'].iloc[-1])
print(hnv_cc)

339255.0

In [74]:
ggca_county = CA_df[CA_df['County']== 'Orange']
ggca_cc = (ggca_county['Cases'].iloc[-1])
print(ggca_cc)

326246.0

In [67]:
epco_county = CO_df[CO_df['County']== 'Larimer']
epco_cc = (epco_county['Cases'].iloc[-1])
print(epco_cc)

39807.0

In [68]:
sfnm_county = NM_df[NM_df['County']== 'Santa Fe']
sfnm_cc = (sfnm_county['Cases'].iloc[-1])
print(sfnm_cc)

13456.0

In [70]:
ava_county = VA_df[VA_df['County']== 'Hopewell city']
ava_cc = (ava_county['Cases'].iloc[-1])
print(ava_cc)

3691.0

In [71]:
npri_county = RI_df[RI_df['County']== 'Newport']
npri_cc = (npri_county['Cases'].iloc[-1])
print(npri_cc)

8809.0

In [73]:
pdca_county = CA_df[CA_df['County']== 'Riverside']
pdca_cc = (pdca_county['Cases'].iloc[-1])
print(pdca_cc)

374712.0

In [75]:
aca_county = CA_df[CA_df['County']== 'Los Angeles']
aca_cc = (aca_county['Cases'].iloc[-1])
print(aca_cc)

1491402.0

In [76]:
bmt_county = MT_df[MT_df['County']== 'Gallatin']
bmt_cc = (bmt_county['Cases'].iloc[-1])
print(bmt_cc)

20680.0

In [77]:
ljca_county = CA_df[CA_df['County']== 'San Diego']
ljca_cc = (ljca_county['Cases'].iloc[-1])
print(ljca_cc)

391534.0

In [78]:
pme_county = ME_df[ME_df['County']== 'Cumberland']
pme_cc = (pme_county['Cases'].iloc[-1])
print(pme_cc)

22078.0

In [79]:
bms_county = MS_df[MS_df['County']== 'Harrison']
bms_cc = (bms_county['Cases'].iloc[-1])
print(bms_cc)

34446.0